{% extends "base.html" %}
{% block content %}
  <div id="container">
    <form>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <nav id="login">
          <button onclick="">로그인</button>
          <button type='button' onclick='location.href="/video"'>얼굴 인식으로 로그인</button>
        </nav>
        <button type="button" onclick='location.href="/register"'>회원 가입</button>
    </form>
</div>
{% endblock content %}